# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
.terraformrc
terraform.rc

# Local files
*.log
*.bak
*.swp
.DS_Store

# VSCode
.vscode/

# macOS
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes 